---
import {Project} from "../dtos";
export interface Props {
    project: Project
}

const {project} = Astro.props;
---

<div class="project-container card">
    <h3 class="project-title">{project.title}</h3>
    <p class="project-details">
        {project.description}
    </p>
    <a href={project.link} target="_blank" class="project-link" title={`Check ${project.title}`}>
        Check it out
    </a>
</div>