---
import {Skill} from "../dtos";

export interface Props {
    skill: Skill;
}

const {skill} = Astro.props;
---

<div class="skill-container card">
    <img
            src={skill.icon}
            alt={`${skill.name} logo`}
            class="skill-icon"
            title={skill.name}
            loading="lazy"
    />
    <p class="skill-name">{skill.name}</p>
</div>
