---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			const originalBG = '#000000';

			const showHighlightEffect = function (element) {
				const x = element.pageX - this.offsetLeft;
				const y = element.pageY - this.offsetTop;
				const xy = `${x} ${y}`;
				const from = '#621aa4';
				const to = '#000000';
				this.style.background = `-webkit-gradient(radial, ${xy}, 0, ${xy}, 50, from(${from}), to(${to})), ${originalBG}`;
			};

			const removeHighlightEffect = function () {
				this.style.background = originalBG;
			};

			document.querySelectorAll('.project-container, .icon').forEach(function (element) {
				element.addEventListener('mousemove', showHighlightEffect);
				element.addEventListener('mouseleave', removeHighlightEffect);
			});
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--font-family: sans-serif;
		--normal-font: 400;
		--bold-font: 700;
		--bolder-font: 900;
		--bg-color: #2c2c36;
		--primary-color: #bcc4f3;
		--secondary-color: #88D284;
		--primary-shadow: #414149;
		--secondary-shadow: #3a9336;
		--bottom-margin: 0.5rem;
		--bottom-margin-2: 1rem;
		--line-height: 1.7rem;
		--transition: 0.3s;
		--border-radius: 1rem;
	}

	html {
		scroll-behavior: smooth;
		background-color: var(--bg-color);
		color: #ffffff;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	ul {
		list-style-type: none;
	}

	a {
		text-decoration: none;
		color: var(--primary-color);
	}

	a:hover {
		color: var(--secondary-color);
		font-weight: bold;
	}

	body {
		font-family: var(--font-family);
	}

	nav {
		position: sticky;
		top: 0;
		left: 0;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 2rem;
		background-color: var(--bg-color);
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	}

	nav h1 {
		color: var(--primary-color);
	}

	nav a {
		color: var(--primary-color);
		transition: var(--transition);
	}

	nav a:hover {
		color: var(--secondary-color);
		border-bottom: 2px solid var(--secondary-color);
	}

	nav ul {
		display: flex;
		gap: 1.9rem;
	}

	nav ul li {
		font-weight: var(--bold-font);
	}

	#about {
		width: 28rem;
		margin: 2rem auto;
		padding: 0.625rem;
		box-shadow: 0 2px 5px var(--secondary-shadow);
		border-radius: var(--border-radius);
	}

	.bio-title {
		margin-bottom: var(--bottom-margin);
		text-align: center;
	}

	.bio-text {
		line-height: var(--line-height);
		padding: 0.3rem 0;
		text-align: center;
	}

	.skills {
		max-width: 68.75rem;
		text-align: center;
		margin: 2.5rem auto auto;
	}

	.skill-header {
		margin-top: 4rem;
		margin-bottom: 2rem;
	}

	.skills-wrapper img {
		padding: 1.25rem;
	}

	.icon {
		width: 11rem;
		height: 11rem;
	}

	.card {
		background-color: #000000;
		padding: 20px;
		margin: 10px;
		border: 1px solid var(--secondary-shadow);
		border-radius: var(--border-radius);
	}

	.projects {
		background-color: var(--bg-color);
		padding: 32px 0;
		margin-top: 2rem;
		text-align: center;
	}

	.projects-container {
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		justify-content: center;
	}

	.contacts-container {
		display: flex;
		align-items: stretch;
		justify-content: center;
	}

	.project-container, .contact-container-card {
		text-align: center;
		width: 21.875rem;
		padding: 1rem;
	}

	.project-container p {
		padding: 0.4rem;
	}

	.projects-title {
		text-align: center;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}

	.project-title {
		margin-bottom: var(--bottom-margin);
	}

	.project-details {
		margin-bottom: var(--bottom-margin);
	}

	.in-touch {
		text-align: center;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}

	footer {
		background-color: var(--bg-color);
		padding: 1.25rem;
		text-align: center;
		margin: 2rem 0 0;
	}

	.other {
		margin-top: 2rem;
	}

	.scroll-up {
		position: fixed;
		right: 2%;
		bottom: 3%;
		cursor: pointer;
	}

	.up-arrow {
		width: 3rem;
		height: 3rem;
	}
</style>
